extends layout

block content
  div.container
    div.messages
      div.messageWrapper
        div.profile-block
          img.profpic(src="https://fakeimg.pl/75x75/" alt="profPic")
          h4 Wesley Wijsen
        h3 Dit is mijn bericht!
    div.messageSend
    div.sidebar
    //h1= title
    //p Welcome to #{title}
