extends layout

block content
  div.container.grid
    div.messages.grid--item.grid--item-a
      div.messageWrapper.flex.flex--container
        div.profile-block.flex.flex--container
          img.profpic.flex--item(src="https://api.adorable.io/avatars/75/abott@adorable.png" alt="profPic")
          h4.title.title--name.flex--item Wesley Wijsen
        h3.message.title.title--message.flex--item Dit is mijn bericht!
        h5.message--time.title.title--time.flex--item Gisteren om 22u30
        div.iconsWrap.flex--item
          img.icons.icons--pen(src="https://fakeimg.pl/20x20/" alt="penIcon")
          img.icons.icons--trash(src="https://fakeimg.pl/20x20/" alt="trashIcon")
    div.sidebar.grid--item.grid--item-b
      
    div.messageSend.grid--item.grid--item-c
      input.input.input--message#myMessage(type='text', placeholder='Your message' name='message')
      input.btn.btn--send(type='submit' value='Send')
    
    //h1= title
    //p Welcome to #{title}

  script(src="javascripts/primus.js")
  script(src="javascripts/message.js")
