extends layout

block content
    h1= title
    p Welcome to #{title}

    label
        input.skills(type='checkbox' name='HTML5' value="0")
        | HTML5
    label
        input.skills(type='checkbox' name='CSS3' value="0")
        | CSS3
    label
        input.skills(type='checkbox' name='JavaScript' value="0")
        | JavaScript
    label
        input.skills(type='checkbox' name='Prototyping' value="0")
        | Prototyping UI
    label
        input.skills(type='checkbox' name='SQL' value="0")
        | SQL
    label
        input.skills(type='checkbox' name='Java' value="0")
        | Java
    label
        input.skills(type='checkbox' name='Business' value="0")
        | Business Fundamentals
    label
        input.skills(type='checkbox' name='SmartTech' value="0")
        | Smart Tech
    label
        input.skills(type='checkbox' name='UX' value="0")
        | User Experience
    label
        input.skills(type='checkbox' name='DesignThinking' value="0")
        | Design Thinking
    label
        input.skills(type='checkbox' name='PHP' value="0")
        | PHP
    label
        input.skills(type='checkbox' name='ES6' value="0")
        | ES6
    label
        input.skills(type='checkbox' name='Node' value="0")
        | Node.js
    label
        input.skills(type='checkbox' name='MongoDB' value="0")
        | Mongo DB
    label
        input.skills(type='checkbox' name='AfterEffects' value="0")
        | After Effects
        
    input.btn.btn--save(type='submit' value='Save My Skills')

    script(src="javascripts/skills.js")
