.btn{
    width: 90px;
    height: 40px;
    color: white;
    background-color: $active;
    border: none;
}
.btn--login, .btn--register{
    width: 95%;
}
.btn:hover{
    background-color: darken($color: $active, $amount: 40%);
    position: relative;
    top: 1px;
}