.btn{
    width: 90px;
    height: 40px;
    color: white;
    background-color: $active;
}

.btn:hover{
    background-color: darken($color: $active, $amount: 40%);
    position: relative;
    top: 1px;
}