.input{
    width: 50em;
    height: 40px;
    margin-left: 15px;
    padding: 0em 0.5em;
}
.hidden{
    display: none;
}
.input--username, .input--password{
    width: 95%;
    height: 40px;
    margin: 0;
    padding: 0;
}