.container{
    width: 100vw;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.messages{
    background-color: $dark;
    color: #fff;
    overflow-y: auto;
}
.messageSend{
    width: 100%;
    height: 100%;
    background-color: lighten($color: $dark, $amount: 20%);
    padding-top: 20px;
}
.sidebar{
    // border: 1px solid black;
    background-color: $lightGray;
    //height: 100vh;
}

.online{
    overflow-y: auto;
}