.messageWrapper{
    position: relative;
    border-bottom: 1px solid $accentGray;
    
}
.message--time{
    position: absolute;
    right: 25px;
    top: 10px;
}
.iconsWrap{
    position: absolute;
    right: 25px;
    bottom: 10px;
    display: none;
}
.icons{
    width: 25px;
    height: 25px;
    margin: 10px;
    padding: 0.2em;
    border-radius: 100%;
}

.icons--pen{
    background-color: #fff;
}

.icons--trash{
    background-color: $darkRed;
}

.messageSend{
    //width: 70%;
    //height: 60px;
    //position: fixed;
    bottom: 0;
}