.message{
    position: relative;
    border-bottom: 1px solid $accentGray;
    
}
.message--user{
    padding: 10px;
    margin-right: 20px;
}
.message--userpic{
    margin: 10px;
    border-radius: 50%;
}
.message--username{
    font-size: 0.9em;
}
.message--content{
    font-size: 1.1em;
}
.message--content__deleted{
    color: $darkRed;
}
.message--time{
    position: absolute;
    right: 25px;
    top: 10px;
}
.message--icons{
    position: absolute;
    right: 25px;
    bottom: 10px;
    // display: none;
}
.message--icon{
    width: 25px;
    height: 25px;
    margin: 10px;
    padding: 0.2em;
    border-radius: 100%;
}

.message--icon__pen{
    background-color: #fff;
}

.message--icon__trash{
    background-color: $darkRed;
}

.messageSend{
    //width: 70%;
    //height: 60px;
    //position: fixed;
    bottom: 0;
}