.profile{
    padding: 10px;
    margin-right: 20px;
}
.profpic{
    margin: 10px;
    border-radius: 50%;
}
.profile--me{
    width: 95%;
    background-color: $accentGray;
    padding: 0;
    margin: 1em auto 0em auto;
}
.profile--friends{
    width: 95%;
    border: 1px solid black;
    margin: 1em auto;
}
