.sidebar{
    // border: 1px solid black;
    background-color: $lightGray;
    //height: 100vh;
}
.account{
    width: 95%;
    // padding: 10px;
    // margin-right: 20px;
    background-color: $accentGray;
    padding: 0;
    margin: 1em auto 0em auto;
}
.account__userpic{
    border-radius: 50%;
    background-color: $accentGray;
    padding: 0;
    margin: 0.5em auto 0.5em auto;
}
.account__username{
    font-size: 1.1em;
}
.account__link{
    color: black;
    text-decoration: none;
    text-align: center;
}