.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}
.title--name{
    font-size: 0.9em;
}
.title--message{
    font-size: 1.1em;
}
.title--time{
    font-size: 0.7em;
}